doctype html
html(lang="en")
  head
    title Random Quote
    link(rel="stylesheet", href="/css/style.css")/
  body
    .quote-container
      img(src="/images/sato.jpeg", alt="Sato")
      p.quote= content
      p.author - #{author}
    script(src="/js/script.js")